html{
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
    border-bottom: 2px solid white;
    font-size: 50px;
    font-weight: bold;  
}

body{
    position: relative;
    width: 99%;
    height: 80%;
    background-position: center;
    background-image: url('coding.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    color: white;
}
ul{
    margin-left: 36%;
}
.topMenu {
    height: 100%; 
    width: 100%;
}

#topMenu ul li {                     
    list-style: none;          
    color: white;             
    background-color: #2d2d2d;  
    float: left;              
    line-height: 40px;     
    vertical-align: middle;     
    text-align: center; 
}

#topMenu .menuLink {                          
    text-decoration:none;                    
    color: white;                             
    display: block;                           
    width: 150px;                           
    font-size: 20px;                          
    font-weight: bold;                    
    font-family: "Trebuchet MS", Dotum, Arial; 
}

#topMenu .menuLink:hover {        
    color: red;                 
    background-color: #4d4d4d;   
}