body{
    background-color: black;
    color: white;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin: 10px;
    padding: 30px;
}

th, td {
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    height: 25px;
    background-color: gray;
}
td{
    height: 40px
}
